<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head xmlns:th="http://www.thymeleaf.org" th:fragment="resources">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=
    , initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>main</title>
    <link rel="stylesheet" th:href="@{/static/css/bootstrap.css}">
    <script th:src="@{/static/js/jquery-1.9.1.js}" type="text/javascript"></script>
    <script th:src="@{/static/js/bootstrap.js}" type="text/javascript"></script>
</head>
<body>
<h1 class="text-center">
    报表生成页面
</h1>
<div class="text-center" style="margin-top: 30px;">
    <a th:href="'/downloadExcelReport?diarycontent=havePriceHotelJustOneDayAccount--' + ${account} + '--searchDate--' + ${date} + '--From-' + ${fromDate} + 'To-' + ${toDate}"
       class="btn btn-primary btn-lg">点我下载该批次有价酒店报表</a>
</div>
<div class="text-center" style="margin-top: 30px;">
    <a th:href="'/downloadExcelReport?diarycontent=noPriceHotelJustOneDayAccount--' + ${account} + '--searchDate--' + ${date} + '--From-' + ${fromDate} + 'To-' + ${toDate}"
       class="btn btn-primary btn-lg">点我下载该批次无价酒店报表</a>
</div>
<!--    <div class="text-center" style="margin-top: 30px;">-->
<!--        <a th:href="'/downloadExcelReport?diarycontent=havePriceHotelPerDayAccount&#45;&#45;' + ${account} + '&#45;&#45;searchDate&#45;&#45;' + ${date} + '&#45;&#45;From-' + ${fromDate} + 'To-' + ${toDate}"  class="btn btn-primary btn-lg">点我下载该批次连住（分段每天）有价酒店报表</a>-->
<!--    </div>-->
<!--    <div class="text-center" style="margin-top: 30px;">-->
<!--        <a th:href="'/downloadExcelReport?diarycontent=noPriceHotelPerDayAccount&#45;&#45;' + ${account} + '&#45;&#45;searchDate&#45;&#45;' + ${date} + '&#45;&#45;From-' + ${fromDate} + 'To-' + ${toDate}"  class="btn btn-primary btn-lg">点我下载该批次连住（分段每天）无价酒店报表</a>-->
<!--    </div>-->
<!--    <div class="text-center" style="margin-top: 30px;">-->
<!--        <a th:href="'/downloadExcelReport?diarycontent=havePriceHotelEvenDayAccount&#45;&#45;' + ${account} + '&#45;&#45;searchDate&#45;&#45;' + ${date} + '&#45;&#45;From-' + ${fromDate} + 'To-' + ${toDate}"  class="btn btn-primary btn-lg">点我下载该批次连住（连住）有价酒店报表</a>-->
<!--    </div>-->
<!--    <div class="text-center" style="margin-top: 30px;">-->
<!--        <a th:href="'/downloadExcelReport?diarycontent=noPriceHotelEvenDayAccount&#45;&#45;' + ${account} + '&#45;&#45;searchDate&#45;&#45;' + ${date} + '&#45;&#45;From-' + ${fromDate} + 'To-' + ${toDate}"  class="btn btn-primary btn-lg">点我下载该批次连住（连住）无价酒店报表</a>-->
</div>
</body>
</html>