<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.webbeds.fliggy.mapper.DOTW_hotel_infoMapper">

    <resultMap id="DOTW_hotel_info_ResultMap" type="com.webbeds.fliggy.entity.DOTW_hotel_info">
        <!--        <id column="aew_info_seq" property="aewInfoSeq" javaType="java.lang.Integer" jdbcType="INTEGER"/>-->
        <result column="country" property="country" javaType="java.lang.String" jdbcType="VARCHAR"/>
        <result column="city" property="city" javaType="java.lang.String" jdbcType="VARCHAR"/>
        <result column="hotelCode" property="hotelCode" javaType="java.lang.String" jdbcType="VARCHAR"/>
        <result column="hotelName" property="hotelName" javaType="java.lang.String" jdbcType="VARCHAR"/>
        <result column="starRating" property="starRating" javaType="java.lang.String" jdbcType="VARCHAR"/>
        <result column="reservationTelephone" property="reservationTelephone" javaType="java.lang.String" jdbcType="VARCHAR"/>
        <result column="hotelAddress" property="hotelAddress" javaType="java.lang.String" jdbcType="VARCHAR"/>
        <result column="latitude" property="latitude" javaType="java.lang.String" jdbcType="VARCHAR"/>
        <result column="longitude" property="longitude" javaType="java.lang.String" jdbcType="VARCHAR"/>
        <result column="chainName" property="chainName" javaType="java.lang.String" jdbcType="VARCHAR"/>
        <result column="brandName" property="brandName" javaType="java.lang.String" jdbcType="VARCHAR"/>
        <result column="new_Property" property="new_Property" javaType="java.lang.String" jdbcType="VARCHAR"/>
        <result column="isUpdate" property="isUpdate" javaType="java.lang.String" jdbcType="VARCHAR"/>
    </resultMap>

    <select id="findAll" resultMap="DOTW_hotel_info_ResultMap">
        select * from dotw_fullhotel_info
        where isUpdate = "0"
    </select>

    <select id="findAllId" resultType="java.lang.String">
        select hotelCode from dotw_fullhotel_info
        where isUpdate = "0"
    </select>

    <insert id="add" parameterType="com.webbeds.fliggy.entity.DOTW_hotel_info">
        INSERT INTO dotw_fullhotel_info(country,city,hotelCode,hotelName,starRating,reservationTelephone,hotelAddress,latitude,longitude,chainName,brandName,new_Property,isUpdate)
        VALUES (#{country},#{city},#{hotelCode},#{hotelName},#{starRating},#{reservationTelephone},#{hotelAddress},#{latitude},#{longitude},#{chainName},#{brandName},#{new_Property},#{isUpdate})
    </insert>

    <select id="searchByHid" parameterType="java.lang.String" resultType="java.lang.Integer">
        select count(*) from dotw_fullhotel_info
        where hotelCode = #{hid}
    </select>

    <select id="searchHotelByHid" resultMap="DOTW_hotel_info_ResultMap">
        select * from dotw_fullhotel_info
        where hotelCode = #{hid}
    </select>

    <update id="updateIsUpdate" parameterType="java.lang.String">
        UPDATE dotw_fullhotel_info SET isUpdate = #{state}
        where hotelCode = #{hid}
    </update>

</mapper>