<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.webbeds.fliggy.mapper.Fliggy_roomType_infoMapper">

    <resultMap id="Fliggy_roomType_info_ResultMap" type="com.webbeds.fliggy.entity.Fliggy_roomType_info">
        <!--        <id column="aew_info_seq" property="aewInfoSeq" javaType="java.lang.Integer" jdbcType="INTEGER"/>-->
        <result column="outer_id" property="outer_id" javaType="java.lang.String" jdbcType="VARCHAR"/>
        <result column="name" property="name" javaType="java.lang.String" jdbcType="VARCHAR"/>
        <result column="max_occupancy" property="max_occupancy" javaType="java.lang.String" jdbcType="VARCHAR"/>
        <result column="area" property="area" javaType="java.lang.String" jdbcType="VARCHAR"/>
        <result column="floor" property="floor" javaType="java.lang.String" jdbcType="VARCHAR"/>
        <result column="bed_type" property="bed_type" javaType="java.lang.String" jdbcType="VARCHAR"/>
        <result column="bed_size" property="bed_size" javaType="java.lang.String" jdbcType="VARCHAR"/>
        <result column="internet" property="internet" javaType="java.lang.String" jdbcType="VARCHAR"/>
        <result column="service" property="service" javaType="java.lang.String" jdbcType="VARCHAR"/>
        <result column="extend" property="extend" javaType="java.lang.String" jdbcType="VARCHAR"/>
        <result column="window_type" property="window_type" javaType="java.lang.String" jdbcType="VARCHAR"/>
        <result column="srid" property="srid" javaType="java.lang.String" jdbcType="VARCHAR"/>
        <result column="out_hid" property="out_hid" javaType="java.lang.String" jdbcType="VARCHAR"/>
        <result column="vendor" property="vendor" javaType="java.lang.String" jdbcType="VARCHAR"/>
        <result column="pics" property="pics" javaType="java.lang.String" jdbcType="VARCHAR"/>
        <result column="name_e" property="name_e" javaType="java.lang.String" jdbcType="VARCHAR"/>
        <result column="operator" property="operator" javaType="java.lang.String" jdbcType="VARCHAR"/>
        <result column="connection_type" property="connection_type" javaType="java.lang.String" jdbcType="VARCHAR"/>
        <result column="name_before" property="name_before" javaType="java.lang.String" jdbcType="VARCHAR"/>
        <result column="name_after" property="name_after" javaType="java.lang.String" jdbcType="VARCHAR"/>
        <result column="name_final" property="name_final" javaType="java.lang.String" jdbcType="VARCHAR"/>
        <result column="state" property="state" javaType="java.lang.String" jdbcType="VARCHAR"/>
        <result column="insertDate" property="insertDate" javaType="java.util.Date" jdbcType="TIMESTAMP"/>
        <result column="error_msg" property="error_msg" javaType="java.lang.String" jdbcType="VARCHAR"/>
        <result column="mapping" property="mapping" javaType="java.lang.String" jdbcType="VARCHAR"/>
    </resultMap>

    <!--  备份查询  -->
    <!--        <select id="searchRoomByHid" resultMap="Fliggy_roomType_info_ResultMap">-->
    <!--            SELECT * FROM fliggy_roomtype_info_dotwebk-->
    <!--            where out_hid = #{hid} and state != "0"-->
    <!--        </select>-->

    <!-- 查询返回需要上传的飞猪房型，（逻辑：根据酒店id维度查询再经过近期有间夜量的房型表过滤，得出有效房型）       -->
    <select id="searchRoomByHid" resultMap="Fliggy_roomType_info_ResultMap">
        SELECT * FROM fliggy_roomtype_info_dotwebk
        where out_hid = #{hid} and name in (select room_name from dotw_room_night WHERE hotel_id = #{hid})
    </select>

    <!-- 查询返回需要上传的飞猪房型，（逻辑：根据酒店id维度查询再经过近期有间夜量的房型表过滤，得出有效房型）       -->
    <select id="searchRoomByState" resultMap="Fliggy_roomType_info_ResultMap">
        SELECT * FROM fliggy_roomtype_info_dotwebk
        where state = #{state}
    </select>

    <select id="searchDuplicate" resultType="java.lang.Integer"
            parameterType="com.webbeds.fliggy.entity.Fliggy_roomType_info">
        SELECT count(*) FROM fliggy_roomtype_info_dotwebk
        WHERE out_hid = #{out_hid} and name_before = #{name_before}
    </select>

    <select id="searchRoomByRid" resultType="java.lang.Integer"
            parameterType="com.webbeds.fliggy.entity.Fliggy_roomType_info">
        SELECT count(*) FROM fliggy_roomtype_info_dotwebk
        WHERE outer_id = #{outer_id}
    </select>

    <insert id="add" parameterType="com.webbeds.fliggy.entity.Fliggy_roomType_info">
        INSERT INTO
        fliggy_roomtype_info_dotwebk(outer_id,name,max_occupancy,area,floor,bed_type,bed_size,internet,service,extend,window_type,srid,out_hid,vendor,pics,name_e,operator,connection_type,name_before,name_after,name_final,state,insertDate,error_msg,mapping)
        VALUES
        (#{outer_id},#{name},#{max_occupancy},#{area},#{floor},#{bed_type},#{bed_size},#{internet},#{service},#{extend},#{window_type},#{srid},#{out_hid},#{vendor},#{pics},#{name_e},#{operator},#{connection_type},#{name_before},#{name_after},#{name_final},#{state},#{insertDate},#{error_msg},#{mapping})
    </insert>

    <update id="updateStateAndDate" parameterType="com.webbeds.fliggy.entity.Fliggy_roomType_info">
        UPDATE fliggy_roomtype_info_dotwebk SET state = #{state}, insertDate = #{insertDate},error_msg =
        #{error_msg},mapping = #{mapping}
        where outer_id = #{outer_id}
    </update>

</mapper>